#ignoring specific folders
fastTgcnBaby/__pycache__/
fastTgcnBaby/experiment/
fastTgcnBaby/pred_global/
fastTgcnBase/__pycache__/
fastTgcnBase/experiment/
fastTgcnBase/pred_global/
tools/__pycache__/
*.o
*.e
fastTgcnEasy/__pycache__/
fastTgcnEasy/experiment/
fastTgcnEasy/pred_global/
fastTgcnEasy/x_archive/
fastTgcnEasy/modelOutputs/
tools/colorClean/__pycache__/
testDir/
fastTgcnLoss/__pycache__/
fastTgcnLoss/experiment/
fastTgcnLoss/pred_global/
prediction/__pycache__/
prediction/x_archive/
prediction/outputFiles/
tools/convert3DS/__pycache__/
tools/decimation/__pycache__/
tools/convert3DS/x_archive/
tools/registration/__pycache__/
.snakemake/
dag.png
rulegraph.png
fastTgcnEasy/trainedModels/
*.RData
*.pdf
*.rds
movement/gaussianProcess/betancourtTutorial/originalTutorial/
.Rproj.user
.positai
*.ply
*.pyc
*.pth
*log.txt
snakemakeLogs/
snakemake.log
dag.png
rulegraph.png
.cache/
testDir/
tools/cpp/localDescriptors/build/
*.png
*.dot
