#ignoring specific folders
fastTgcnBaby/__pycache__/
fastTgcnBaby/experiment/
fastTgcnBaby/pred_global/
fastTgcn/__pycache__/
fastTgcn/experiment/
fastTgcn/pred_global/
tools/__pycache__/
*.o
*.e
fastTgcnEasy/__pycache__/
